/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**, TODO removed this*/
html, body, a {
  line-height: 160%;
  font-weight: 400;
  color: #070707;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  background-color: var(--off-white);
}

button{
  border-radius: 0.25rem;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root{
  --danger: #ef4444;
  --success: #22c55e;
  --warning: #ffba08;
  --info: #4c82f7;
  --primary: #0891b2;
  --off-white: #f5f5f5;
}

.wrapper{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  /*TODO play around with this, 10vh, 5vh?*/
  height: 7vh; 
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  background-color: var(--off-white);
}

.navbar .navbar-navigation {
  display: flex;
  align-items: center;
  gap: 80px;
}
.navbar .navbar-navigation .navbar-links {
  display: flex;
  align-items: center;
  gap: 80px;
}
.navbar .navbar-site-settings {
  display: flex;
  align-items: center;
}

.navbar-link{
  color: #151515;
  font-size: 20px;
}

.navbar-footer {
  /*TODO remove border top?*/
  border-top: 1px solid #E2E2E2;
  margin-bottom: 64px;
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-footer nav {
  display: flex;
  gap: 40px;
}
.navbar-footer div {
  display: flex;
  gap: 25px;
}

.container{
  /*height: 90vh;*/
}

.hero-section{
  position: relative;
}

#hero-section{
  height: 93vh;
  background-color: var(--primary);
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 50%);
  position: relative;
  z-index: 1;
}

.container.hero{
  position: absolute;
  top: 10%;
  left: 15%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
}

#hero-profile-box{
  height: 700px;
  width: 700px;
  background-color: red;
  position: relative;
}

#hero-profile-picture{
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#about-me, #hero-profile-box{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#about-me{
  height: 500px;
  width: 750px;
  padding: 12px;
  background-color: var(--off-white);
}

.social-icon{
  height: 45px;
  width: 45px;
}


.skills-section{
  height: 40vh;
  position: relative;
  display: grid;
  place-items: center;
  margin-bottom: 72px;
}

.skills-container{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.skill-span {
  position: relative;
  /*display: inline-block;*/
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-details {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 10;
}

.skill-span:hover .skill-details {
  display: block;
  transition: ease-in 2s;
}

.skill-icon img {
  width: 50px;  
  height: 50px;
}

.skill-header {
  font-weight: bold;
  display: block;
}

.skill-subheader {
  display: block;
}

.skill-icon{
  height: 100px;
  font-size: 72px;
}

.carousel {
  width: 90%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.carousel-item.active {
  display: block;
  opacity: 1;
}
.project-section {
  position: relative;
  overflow: hidden;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
}

.project-section{
  height: 100vh;
  /*TODO Do not change this*/
  /*margin-bottom: 72px;*/
}

.project-section-buttons {
  width: 70%;
  display: flex;
  gap: 24px;
  .button{
    border-radius: 12px;
    border: none;
  }
}

.project-section-button{
  height: 50px;
  width: 50px;
}

.github-project-box{
  width: 66%;
  height: 100%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  /*background-color: white;*/
  padding: 20px;
  border: 1px solid black;
  display: grid;
  place-items: center;
  img{
    object-fit: contain;
    max-height: auto;
    max-width: 60%;
  }
}

.github-project-content{
  width: 100%;
  display: flex;
}

.project-info{
  display: flex;
  flex-direction: column;
}

.project-skills{
  display: flex;
  gap: 12px;
}

.project-links{
  display: flex;
  gap: 12px;
}

.contact-me-section{
  height: 100vh;
  display: grid;
  place-items: center;
}

.contact-form{
  /*width: 100%;*/
  width: 50%;
  padding: 72px;
  background-color: rebeccapurple;
  display: grid;
  place-items: center;
  border-radius: 12px;
}

.form-row{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 36px;
}

.form-input{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  input, textarea{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 12px;
  }
  input{
    height: 50px;
  }
  textarea{
    height: 400px;
    resize: none;
  }
}

#contact-me-textarea{
  min-height: 50%;
  min-width: 50%;
}

.carousel-cell {
  width: 66%;
  height: 100%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.section{
  height: 100vh;
}

.references-section{
  background-color: #8C8;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reference-box{
  display: flex;
  gap: 12px;
  padding: 12px;
  align-items: center;
  background-color: var(--off-white);
  width: fit-content;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 1px black;
}
.quote{
  font-style: italic;
}

.references{
  display: flex;
  gap: 24px;
}

.reference-profile-picture{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  max-height: 300px;
  max-width: 300px;
}

.text-danger{
  color: var(--danger) !important;
}

.button-cta{
  border: none;
  height: 50px;
  background-color: var(--success);
  color: #fcfcfc;
}