/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  text-transform: uppercase;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root{
  --danger: #ef4444;
  --success: #08B27E;
  --warning: #ffba08;
  --info: #4c82f7;
  --primary: #0891b2;
  --off-white: #f5f5f5;
  --black: #151515;
}

html, body, a {
  line-height: 160%;
  font-weight: 400;
  color: var(--black);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--off-white);
}

html, body{
  max-width: 100vw;
  max-height: 100vh;
}

a{
  text-decoration: none;
}

button{
  border-radius: 0;
  padding: 24px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.navbar, .navbar-footer {
  height: 7vh; 
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--off-white);
}

.footer{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.navbar .navbar-navigation, .navbar-footer {
  display: flex;
  align-items: center;
  gap: 80px;
}
.navbar .navbar-navigation .navbar-links {
  display: flex;
  align-items: center;
  gap: 80px;
}
.navbar .navbar-site-settings {
  display: flex;
  align-items: center;
}

.navbar-link{
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}


.navbar-footer div {
  display: flex;
  gap: 25px;
}

.container{
  /*height: 90vh;*/
}

.hero-section{
  position: relative;
}

#hero-section{
  min-height: 93vh;
  background-color: var(--primary);
  clip-path: polygon(0 100%, 0 8%, 100% 0, 100% 92%);
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
}

.container.hero{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
}

#hero-profile-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 700px;
  max-width: 700px;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: var(--off-white);
  padding: 24px;
  position: relative;
}

#hero-profile-picture{
  max-height: 490px;
  width: auto;
}

#about-me{
  border-left: 3px solid black;
}

.hero-profile-box-title{
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.hero-box-subtitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  a{
    display: flex;
    justify-content: center;
    width: 100%;
    button{
      width: 100%;
    }
  }
}
#about-me, #hero-profile-box, .github-project-content, .contact-form, .reference-box{
  box-shadow: 10px 10px 0 black;
}

.normal-text{
  font-weight: normal;
}

#about-me{
  max-width: 750px;
  width: 100%;
  padding: 1rem;
  background-color: var(--off-white);
  z-index: 4;
  font-weight: bolder;
}

#about-me-info{
  margin-bottom: 1rem;
}

.dislike{
  text-decoration-color: var(--danger);
}

.header{
  font-size: 2rem;
  font-weight: bold;
}

.underline{
  text-decoration: underline;
}

#about-me-buttons, #about-me-buttons-william{
  display: flex; justify-content: flex-end; gap: 12px;
}

.social-icon, .project-skill-icon{
  height: 50px;
  width: 50px;
}

.social-icon:hover, .project-skill-icon:hover{
  /*TODO add something here?*/
}

.skills-section{
  min-height: 60vh;
  position: relative;
  display: grid;
  place-items: center;
  margin: 72px 0;
}

.skills-header{
  margin-bottom: 150px;
}

.skills-container{
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 1rem;
  max-width: 50%; 
  flex-wrap: wrap;
  transition: all ease-in 0.1s;
}

.skill-span {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in 0.1s;
}

.skill-details {
  display: none;
  position: absolute;
  font-weight: normal;
  top: 110%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}

.scroll {
  position: relative;
  width: 75vw;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.m-scroll {
  overflow: hidden;
  height: 100%;
  white-space: wrap;
  animation: scrollText 10s infinite linear;
  margin: 0;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  width: 250%;
}

span {
  display: inline-block;
  margin: 0;
  padding: 0;
  /*color: white;*/
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}



.skill-span:hover .skill-details {
  display: block;
  transition: ease-in 2s;
}

.skill-icon img {
  width: 50px;  
  height: 50px;
}

.skill-icon:hover{
  transform: scale(1.15);
  transition: 0.1s ease-in;
}

.skill-header {
  font-weight: bold;
  display: block;
}

.skill-subheader {
  display: block;
}

.skill-icon{
  height: 100px;
  font-size: 72px;
}

.carousel {
  width: 90%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.carousel-item.active {
  display: block;
  opacity: 1;
}
.project-section {
  position: relative;
  overflow: hidden;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
}

.project-section{
  height: 140vh;
}

.project-section-buttons {
  width: 70%;
  display: flex;
  gap: 24px;
  .button{
    border: none;
  }
}

.project-section-button{
  height: 50px;
  width: 50px;
}

.github-project-image{
  margin-bottom: 24px;
  object-fit: contain;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.github-project-box{
  width: 66%;
  height: 100%;
  margin-right: 10px;
  counter-increment: carousel-cell;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.skill{
  width: fit-content;
}

.github-project-content{
  max-width: 85%;
  display: flex;
  flex-direction: column;
  background-color: var(--off-white);
  padding: 24px;
}

.github-project-title{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.github-project-subtitle{
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 8px;
}

.project-info{
  display: flex;
  flex-direction: column;
}

.project-skills{
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.project-links{
  display: flex;
  gap: 12px;
  a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contact-me-section{
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--primary);
  clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
}

.contact-form{
  width: 35%;
  padding: 24px;
  background-color: var(--off-white);
  display: grid;
  place-items: center;
}

.form-row{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 36px;
}

.form-input{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  label{
    font-weight: bold;
    font-size: 1.5rem;
  }
  input, textarea{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 12px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  input{
    height: 50px;
  }
  textarea{
    height: 400px;
    resize: none;
  }
}

#contact-me-textarea{
  min-height: 50%;
  min-width: 50%;
}

.carousel-cell {
  width: 66%;
  height: 100%;
  margin-right: 10px;
  border-radius: 0;
  counter-increment: carousel-cell;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.section{
  min-height: 100vh;
}

.references-section{
  background-color: var(--off-white);
  max-height: 70vh;
  min-height: 50vh;
  display: grid;
  place-items: center;
  margin-bottom: 150px;
}

.references-header{
  margin-bottom: 50px;
}

.references-header, .skills-header{
  font-size: 102px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 102px;
}

.reference-box{
  display: flex;
  gap: 12px;
  padding: 12px;
  align-items: center;
  background-color: var(--off-white);
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.reference-body{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  height: 100%;
  justify-content: space-between;
}

.reference-body-top{
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.reference-body a{
    display: flex;
    gap: 6px;
    align-items: center;
    width: fit-content;
    transition: all 0.1s ease-in;
}

.quote{
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.references{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 72px;
}

.reference-profile-picture{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
}



.reference-body-social-links{
  display: flex;
  gap: 24px;
  justify-content: end;
}

#test{
  i{
    
  height: 50px;
  width: 50px;
  }
}

a:hover{
  cursor: pointer;
  color: var(--primary);
}

.text-danger{
  color: var(--danger) !important;
}

.button-cta{
  border: none;
  height: 50px;
  background-color: var(--success);
  color: var(--off-white);
  font-size: 2rem;
  font-weight: bold;
  transition: all ease 0.2s;
}

.button-cta:hover{
  box-shadow: 6px 6px 0 black;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
}

.button-cta:active{
  box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}

input:active, input:focus, textarea:active, textarea:focus{
  outline: none;
  box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.4);
}

.flickity-prev-next-button.previous,.flickity-prev-next-button.next {
  border-radius: 0;
  background-color: var(--success); 
  color: var(--off-white); 
  width: 100px;
  height: 50px; 
  border: none; 
  transition: all ease-in 0.1s;
  box-shadow: 6px 6px 0 black;
}

.flickity-prev-next-button.previous{
  margin-left: 14%;
}

.flickity-prev-next-button.next{
  margin-right: 14%;
}

.flickity-prev-next-button.previous:hover,.flickity-prev-next-button.next:hover{
  box-shadow: 6px 6px 0px black;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
  background-color: var(--success);
  transition: all ease-in 0.1s;
  
}

.flickity-prev-next-button.previous:active{
  box-shadow: inset 4px 4px 0px rgba(0, 0, 0, 0.4) !important; 
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4) !important; 
  background-color: var(--success);
  transition: all ease-in 0.1s;
  
}

#ContactMeModel_Fullname:hover, #contact-me-textarea:hover{
  cursor: pointer;
}

#submit-button{
  margin-bottom: 36px;
}