@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Project_2.Infrastructure
<div id="footer-bg">
    <div class="container">
        <div class="navbar-footer">
            <span style="display: flex; line-height: 2.5rem; flex-direction: column; font-size: 2rem; font-weight: bold;">
                <p>&copy; @DateTime.Now.Year</p>
                <p>KIMMO AHOLA</p> 
                <address>ÖLANDSRESAN 48</address>
                <p><a href="#"></a>EMAIL: <span style="text-decoration: underline">KAHOLA@GMAIL.COM</span></p>
            </span>
            <div>
                <a class="social-icon" href="@Parameters.GitHub"><img src="~/images/icons/github.svg" alt="logo"/></a>
                <a class="social-icon" href="@Parameters.LinkedIn"><img src="~/images/icons/linkedin.svg" alt="logo"/></a>
            </div>
        </div>
    </div>
</div>