@using Microsoft.AspNetCore.Mvc.TagHelpers
<div class="navbar">
    <div class="container">
        <div class="navbar-navigation">
            <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">
                <p>Kimmo</p>
            </a>
            <nav class="navbar-links">
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </nav>
        </div>
        <div class="navbar-site-settings">
            
        </div>
        <a class="navbar-link" href="#contact-me">
            <p>HIRE ME</p>
        </a>
    </div>
</div>


