<div class="navbar">
    <div class="container">
        <div class="navbar-navigation">
            <span class="navbar-link">WEATHER: <span style="text-decoration: underline">@Model.WeatherModel.Info.ToUpper()</span></span>
        </div>
        <div class="navbar-site-settings">
            
        </div>
        <a class="navbar-link" href="#contact-me">
            <button class="button-cta">
                CONTACT ME
            </button>
        </a>
    </div>
</div>


